p= bookinstance.status
p= bookinstance.due_back
p= book_list[0]

script
  | console.log(book_list[0])
script
  | console.log(bookinstance.due_back);

script
 | var fields = "book";
 | console.log(fields);
script
  | console.log(book);
